/* * {
  border: 1px solid red;
} */
body {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(230, 230, 230)
  );
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 28px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.nav-container {
  width: 100%;
  height: 28px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-bar_home-link {
  height: 28px;
  width: 28px;
  transition: all 0.5s;
}
.nav-bar_home-link:hover {
  animation: pulse 1s linear infinite;
}
@keyframes pulse {
  0% {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}
#home-logo {
  height: 100%;
  width: 100%;
}
.signup-button {
  color: rgb(85, 85, 85);
  border: none;
  transition: all 0.5s;
  background-color: transparent;
  font-weight: 600;
  /* height: 100%; */
  font-size: 14px;
  border-radius: 50%;
  text-decoration: none;
  word-wrap: none;
  white-space: nowrap;
}
@keyframes pulseLogin {
  0% {
    transform: translateY(-1px);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  50% {
    transform: translateY(-3px);
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  100% {
    transform: translateY(-1px);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}

.signup-button:hover {
  animation: pulseLogin 0.8s linear infinite;
}
.nav-button_box {
  width: 25%;
  display: flex;
  justify-content: space-around;
}
.search-button {
  border-left: none;
  background-color: white;
}
.search-input {
  border-right: none;
}
.nav-button_menu {
  border: none;
  background-color: transparent;
  align-items: flex-start;
  outline: none;
  cursor: pointer;
  width: 28px;
}
.nav-button_menu-image:hover {
  animation: menu 0.5s linear;
  transform-origin: center center;
}
@keyframes menu {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
    border-radius: 25%;
  }
  100% {
    transform: rotate(180deg);
  }
}
.profile-dropdown {
  text-decoration: none;
  list-style-type: none;
  color: rgb(85, 85, 85);
  border: 1px solid gray;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  text-decoration: none;
  word-wrap: none;
  white-space: nowrap;
  padding-bottom: 30px;
  box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 5%;
  top: 5%;
  width: 200px;
  z-index: 10;
  animation: rotateMenu 1s linear;
  transform-origin: top left;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.nav-button_box_logged-in {
  display: flex;
  flex-direction: column;
  width: 28px;
}
.logout-button {
  color: rgb(85, 85, 85);
  border: none;
  transition: all 0.5s;
  background-color: transparent;
  font-weight: 600;
  height: 100%;
  font-size: 14px;
  border-radius: 50%;
  text-decoration: none;
  word-wrap: none;
  white-space: nowrap;
}

.logout-button:hover {
  animation: pulseLogin 0.8s linear infinite;
}
.user-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.search {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.search:hover {
  animation: pulseLogin 0.8s linear infinite;
}
.search-bar {
  position: fixed;
  left: 40%;
  display: flex;
}

#modal-content {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 160;
}
.modal-box {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 60%;
  z-index: 150;
}
#modal-background {
  background-color: opaque;
}

textarea {
  width: 100%;
  height: 25%;
  resize: none;
}

input {
  width: 100%;
  border-radius: 2px;
}
input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.search-bar:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
input:not([type="image" i]) {
  box-sizing: border-box;
}
select {
  border-radius: 2px;
  margin-top: 2px;
}
.state {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  justify-self: flex-end;
}
.map-spot-display > pre {
  text-overflow: ellipsis;
  height: 150px;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
}
.map-spot-display > pre {
  text-overflow: ellipsis;
  height: 150px;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
}
.map-spot-display {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.from-map {
  width: 200px;
  position: relative;
}

.from-page {
  width: 100%;
  position: relative;
}
.image-container > img {
  position: relative;
  width: 100%;
}
.next {
  position: absolute;
  z-index: 5;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  height: 100%;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 50%;
  text-align: end;
}
.prev {
  position: absolute;
  z-index: 5;
  height: 100%;
  left: 0;
  /* transform: translate(-50%, -50%); */
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.spot-name {
  text-transform: capitalize;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.spot-details {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
  word-wrap: break;
  width: 50%;
}
.splash-container {
  height: 100%;
  width: 100%;
}
.banner-box {
  height: 40%;
  width: 100%;
  /* background-color: rgb(29, 29, 29); */
  background-image: linear-gradient(
    to right,
    transparent,
    grey,
    rgb(31, 31, 31),
    rgb(31, 31, 31),
    rgb(31, 31, 31),
    rgb(31, 31, 31),
    rgb(31, 31, 31),
    grey,
    transparent
  );
  border-radius: 5px;
}
.banner-image-box {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image {
  height: 100%;
  position: absolute;
}
.banner-words {
  z-index: 1;
  color: rgba(20, 20, 20, 0.6);
  font-size: 54px;

  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  width: 50%;
  color: black;
}
.welcome > p {
  text-align: center;
}
.footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to top,
    rgb(66, 66, 66),
    rgb(167, 167, 167),
    transparent
  );
  align-items: center;
}
.footer > img {
  border-radius: 50%;
}
.footer > a {
  text-decoration: none;
  color: black;
}
.splash-container {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(230, 230, 230)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.spot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
